@charset "UTF-8";

html, body{
	margin: 0;
	padding:0;
	height: 100%;
	background-color: #f5deb3;
}


.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 0;
}

.hide{
  display: none;
}

.sideBar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sideBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sideBar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sideBar .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 50px;
    margin-left: 80%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#innit  { width: 100%; height: 100%; padding: 0; top: 0; left: 0; position: relative;}
#innit > .header {width: 100%; height: 5%; position: absolute; top:15px; left: 0; z-index: 100;}
#map-canvas { width: 100%; height: 100%; padding: 0; top: 0; left: 0;}
#map-canvas > button { width: 10%; height: 10%; padding: 0; top: 50%; left: 50%;}

#playerProfile  { width: 100%; height: 100%; padding: 0; top: 0; left: 0;}

#treasureHunts  { width: 100%; height: 100%; padding: 0; top: 0; left: 0;}
