@charset "UTF-8";

/* make sure body occupies entire screen */
html, body{
	margin: 0;
	padding:0;
	height: 100%;
	background-color: #f5deb3;
	font-family: 'Yellowtail';
}

.Quit {
	width: 5%;
	position: absolute;
	z-index: 100;
	top: 5%;
	right: 5%;
}

.help {
	width: 3%;
	top: 50%;
	right: 5%;
	position: absolute;
	z-index: 100;
}

#tooltip {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: white;
  top: 0;
  left: 0;
	z-index: 200;
	display: none;
	opacity: 0.8;
	text-align: center;
}

#tooltip .closebtn {
	height: 10%;
	position: absolute;
	top: 0;
	right: 2%;
	font-size: 5vh;
	margin-left: 10%;
	z-index: 10;
}

#helphead{
	position: absolute;
	top: 0;
	font-size: 5vh;
	margin-left: 10%;
	z-index: 20;
}

#helppar{
	position: absolute;
	top: 6vh;
	font-size: 2vh;
	margin-left: 10%;
	z-index: 20;
}



/* any page with the hide class is not displyed */
.hide{
  display: none;
}

/* make sure pages occupy entire screen */

#login  {
	width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	left: 0;
	position: relative;
}

#login_layout{
	height: 20%;
	width:20%;
	left: 10%;
	top: 40%;
	position: absolute;
	text-align: center;
}

#Profile  {
	width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	left: 0;
	position: relative;
}

#Profile_layout {
	max-width: 70%;
	max-height: 70%;
	padding: 0;
	top: 15%;
	left: 15%;
	position: absolute;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#Profile_layout > img {height: 100%; width: 100%; z-index: -1; margin: auto;}

#Profile_layout > div {
	top: 50%;
	left: 50%; position: absolute;
	transform: translate(-50%, -50%) skewY(6deg);
	}

#Profile_layout > div > h1 {
	font-size: 5vh;
	text-align: center;
	z-index: 1;
	position: relative;
}

#Profile_layout > div > p {
	margin-top: 25%;
	right: 15%;
	font-size: 2vh;
	text-align: center;
	z-index: 1;
	position: relative;
}

#Tracking  { width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	left: 0;
	position: relative;
}

#Guide {
	width: 20%;
	height: 30%;
	padding: 0;
	top: 20%;
  left: 40%;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#Guide > img {
  height: 100%;
	width: 100%;
	margin: auto;
}

#Guide > p {
	margin-top: 0;
	bottom: 0;
	font-size: 2vh;
	text-align: center;
	position: relative;
}

.mapBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
		background-color: #f5deb3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.mapBar .closebtn {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 5vh;
    margin-left: 10%;
		z-index: 20;
}

#map-canvas { width: 100%; height: 100%; padding: 0; top: 0; left: 0;}

#map_button{
	width: 5%;
	height: 5%;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 0;
	display: none;
}

#History {
	width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	left: 0;
	position: relative;
}

#list_history{
	text-align: center;
	height: 100%;
	width: 40%;
	top: 0;
	left: 30%;
	position: absolute;
	color: white;
	background-color: #ea6068;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#list_history > h1 {
	display:inline-block;
	font-size: 4vh
}

#list_history > h2{
	z-index: 10;
	font-size: 2vh;
	display:inline-block;
}

#list_history > P {
	z-index: 10;
	font-size: 1vh;
	display:inline-block;
}


/* Navigation header for app */
.header {width: 50%; height: 5%; position: absolute; top:2%; left: 0; z-index: 100;}
.header > a {height:100%; margin-right: 10%; margin-left: 3%; right: 0; display: inline-block;}
a > img {height: 100%; border: 0;}

/* footer */
.pointer_menu {
	bottom: 1%;
	position: absolute;
	height: 5%;
	width: 100%;
	text-align: center;
}

.pointer_menu > h1 {
	font-size: 3vh;
}

.pointer_menu > button {
	border: none;
	background-color: #e2d622;
	color: black;
	transform: skew(-10deg);
	border-radius: 10%;
	font-size: 3vh;
	display: inline-block;
	margin-left: 1vw;
	text-align: center;
	position: relative;
}

#me {
	background-color: #FF0000;
	color: white;
}
